*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding:0 5px;
    font-family: "source-sans-pro","Source Sans Pro","Helvetica Neue",Arial,sans-serif;
}

.appContainer {
    position:relative;
    margin:auto;
    width:330px;
}

.brand-logo {
    display:inline-block;
    background-image: url("angularjs-logo.png");
    background-repeat: no-repeat;
    background-size: 125px 125px;
    width:125px;
    height:125px;
    vertical-align: top;
}

.formInputs {
    display:inline-block;
    width:200px;
    text-align: -webkit-center;
    vertical-align: top;
}
    .formInputs input {
        padding:0 5px;
        width:200px;
    }
    .formInputs input.firstName, .formInputs input.lastName {
        width:95px;
        margin-bottom: 5px;
    }
    .formInputs input.firstName {
        float:left;
        margin-right:5px;
    }
    .formInputs input.lastName {
        float:right;
    }
    .formInputs input.email {
        margin-bottom: 10px;
    }
    .formInputs input.submit {
    }

footer p {
    margin-top: 15px;
}

legend {
    text-align: left !important;
}
