*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "source-sans-pro","Source Sans Pro","Helvetica Neue",Arial,sans-serif;
}

.container {
    max-width:450px;
}

legend {
    padding-left: 15px !important;
    margin-bottom:0 !important;
}
@media(min-width:768px) {
    legend {
        margin-bottom:10px !important;
    }
}

.brand-logo {
    background-image: url("angularjs-logo.png");
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: center;
    height:125px;
}

.formInputs {
}
    .formInputs li {
        margin-bottom: 5px;
    }
    .formInputs li.firstName {
        padding-right:5px;
    }
    .formInputs li.lastName {
        padding-left:5px;
    }
    .formInputs li button {
        width:100%;
    }

footer p {
    margin-bottom: 20px;
}

